/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2018, 3:27:33 PM
    Author     : User
*/
#mainDiv{
    width:100%;
    height: 600px;
        
}
.hedder{
    width: 100%;
    height: 50px;
        
}
.logo{
    width: 30%;
    height: 50px;
    float: left;
}
.headline{
    width: 70%;
    height: 50px;
    float: left;
    background: #BB1919;
    color: white;
    font-size: 30px;
    text-align: center;
}
.maincontain{
    width: 80%;
    height: 500px;
}
.left{
    width: 30%;
    height: 500px;
    float: left;
}
.right{
    width: 70%;
    height: 500px;
    float: left;
}
.footer{
    width: 80%;
    height: 50px;
}
.fleft{
    width: 30%;
    height: 50px;
    float: left;
}
.fright{
    width: 70%;
    height: 50px;
    float: left;
    color: blue;
    font-size: 20px;
}
.left a{
    display: block;
    padding: 10px;
    margin: 10px;
    background: #BB1919;
    color: white;
    text-align: center;
}
.left a:hover{
    opacity: .8;
    font-size: 20px;
}
.leftf{
    width: 30%;
    height: 50px;
    float: left;
}
.rightf{
    width: 70%;
    height: 50px;
    float: left;
}
table{
    border-collapse: collapse;
}
td{
   border: 1px solid black;
}
