/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
<<<<<<< HEAD

#mainDiv{
    width:80%;
    height:900px;
    margin: 0 auto;
}
.Heder{
    width: 100%;
    height:100px;
    background: lightgreen;
    float: left;
}
.logo{
    width: 25%;
    height:100px;
    float: left;
}
.hedline{
    width: 75%;
    height:100px;
    float: left;
}
.Nav{
    width:100%;
    height:100px;
    background: #E0FFFF;   
}
.Contain{
    width: 100%;
    height:550px;
}
.ContainLeft{
    width: 30%;
    height:550px;
    background: lavenderblush;
    float: left;
}
.ContainRight{
    width: 70%;
    height: 550px;
    background: lightcyan;
    float: left;
}
.Footer{
    width: 100%;
    height: 100px;
    background: lightcyan;
}
.FooterA{
    width: 30%;
    height: 100px;
    background: lightcyan;
    float: left;
}
.FooterB{
    width: 40%;
    height: 100px;
    background: lightcyan;
    float: left;
}
.FooterC{
    width: 30%;
    height: 100px;
    background: lightcyan;
    float: left;
}
.clear{

}
=======
/* 
    Created on : Sep 30, 2018, 2:57:41 PM
    Author     : User
*/
abbr[title]{
    border-bottom-style: dotted;
    
}
>>>>>>> 8cf73c613066629fc8a03482970c107437bf2b29
