.head{
background-color:red;
color:#fff;
padding-left:20px;
padding-right:20px;
border:2px solid #666;
float:left;
width: 100px
}
.news{
padding-left:20px;
padding-right:20px;
border:1px solid #666;
float:left;
width:500px;
}
.navagation{
clear:left;
}