.mainDiv{
    width: 80%;
    height: 750px;
    margin: 0 auto;
}
.hedder{
    width: 100%;
    height: 100px;
}
.logo{
    width: 15%;
    height: 100px;
    float: left;
}
.hedline{
    width: 85%;
    height: 100px;
    float: left;
    background: #ccc;
}
.contain{
    width: 100%;
    height: 600px;
}
.left{
    width: 20%;
    height: 600px;
    float: left;
    background: #f2f2f2;
}
a {
	list-style: none;
	display: block;
	text-decoration: none;
	padding: 10px;
	border: 1px solid #2f5;
	margin: 5px;
	border-radius: 4px;
}
a:hover{
    font-size: 30px;
    background: #99ccff;
}
.right{
    width: 80%;
    height: 600px;
    float: left;
    
}
.footer{
    width: 100%;
    height: 50px;
    background: #99ccff;
}
.row{
    width: 80%;
    height: 50px;
}
/* css for responsive*/
@media screen and (min-width:769px){
    .col-lg{
        width: 25%;
        height: auto;
        float: left;
        font-size: 30px;
            
    }
}
@media screen and (max-width:769px){
    .col-md{
        width: 50%;
        height: auto;
        float: left;
        font-size: 25px;
            
    }
}
@media screen and (max-width:468px){
    .col-sm{
        width:100%;
        height: auto;
        float: left;
        font-size: 20px;
            
    }
}
